# Crop Recommendation

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Crop_recommendationnn.csv')

In [4]:
df.sample(2)

       N   P   K  temperature   humidity        ph    rainfall     label
622   28  45  23    29.650212  80.298683  6.489259   56.762784  mungbean
2099  84  38  43    26.574217  73.819949  7.261581  159.322307      jute

In [5]:
df_predication = df['label']

In [6]:
k=['N','P','K','temperature','humidity','ph','rainfall']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

df[k]= scaler.fit_transform(df[k])

In [7]:
df.head(5)

          N         P      K  temperature  humidity        ph  rainfall label
0  0.642857  0.264286  0.190     0.345886  0.790267  0.466264  0.656458  rice
1  0.607143  0.378571  0.180     0.371445  0.770633  0.549480  0.741675  rice
2  0.428571  0.357143  0.195     0.406854  0.793977  0.674219  0.875710  rice
3  0.528571  0.214286  0.175     0.506901  0.768751  0.540508  0.799905  rice
4  0.557143  0.264286  0.185     0.324378  0.785626  0.641291  0.871231  rice

In [8]:
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()

qtt=list(df['label'].unique())
print(qtt)

df['label'] = encoder.fit_transform(df['label'])
df.head(5)

['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas', 'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate', 'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple', 'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee']

          N         P      K  temperature  humidity        ph  rainfall  label
0  0.642857  0.264286  0.190     0.345886  0.790267  0.466264  0.656458     20
1  0.607143  0.378571  0.180     0.371445  0.770633  0.549480  0.741675     20
2  0.428571  0.357143  0.195     0.406854  0.793977  0.674219  0.875710     20
3  0.528571  0.214286  0.175     0.506901  0.768751  0.540508  0.799905     20
4  0.557143  0.264286  0.185     0.324378  0.785626  0.641291  0.871231     20

In [9]:
#df1 = df(['label'],axis=1)
#df1

In [10]:
qt=list(df['label'].unique())
print(qt)
y_max = max(qt)+1
print(y_max)

[20, 11, 3, 9, 18, 13, 14, 2, 10, 19, 1, 12, 7, 21, 15, 0, 16, 17, 4, 6, 8, 5]
22

In [11]:
x = df.drop('label',axis=1)
y = df['label']

In [12]:
x.sample(2)

             N         P      K  temperature  humidity        ph  rainfall
1361  0.721429  0.085714  0.250     0.446071  0.850042  0.458257  0.087760
863   0.200000  0.457143  0.055     0.600992  0.607010  0.473165  0.055633

In [13]:
y.sample(2)

574    13
668    14
Name: label, dtype: int32

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=5)

In [15]:
x_train.shape

(1760, 7)

In [16]:
x_test.shape

(440, 7)

In [17]:
y_train.shape

(1760,)

In [18]:
y_test.shape

(440,)

In [19]:
import tensorflow as tf
from tensorflow import keras

model = keras.Sequential([
    keras.layers.Dense(20,input_shape=(7,),activation='relu'),
    keras.layers.Dense(10,activation='relu'),
    keras.layers.Dense(10,activation='relu'),
    
    keras.layers.Dense(22,activation = 'softmax')
])

In [20]:
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

model.fit(x_train,y_train,epochs=20)

Epoch 1/20
55/55 [==============================] - 0s 1ms/step - loss: 3.0730 - accuracy: 0.0460
Epoch 2/20
55/55 [==============================] - 0s 1ms/step - loss: 3.0231 - accuracy: 0.0909
Epoch 3/20
55/55 [==============================] - 0s 1ms/step - loss: 2.9361 - accuracy: 0.1364
Epoch 4/20
55/55 [==============================] - 0s 1ms/step - loss: 2.8062 - accuracy: 0.1562
Epoch 5/20
55/55 [==============================] - 0s 1ms/step - loss: 2.6576 - accuracy: 0.1841
Epoch 6/20
55/55 [==============================] - 0s 1ms/step - loss: 2.5050 - accuracy: 0.2074
Epoch 7/20
55/55 [==============================] - 0s 1ms/step - loss: 2.3358 - accuracy: 0.2205
Epoch 8/20
55/55 [==============================] - 0s 1ms/step - loss: 2.1446 - accuracy: 0.2830
Epoch 9/20
55/55 [==============================] - 0s 1ms/step - loss: 1.9309 - accuracy: 0.3619
Epoch 10/20
55/55 [==============================] - 0s 1ms/step - loss: 1.7106 - accuracy: 0.4318
Epoch 11/20
55/55 [==============================] - 0s 1ms/step - loss: 1.5036 - accuracy: 0.5136
Epoch 12/20
55/55 [==============================] - 0s 1ms/step - loss: 1.3311 - accuracy: 0.5994
Epoch 13/20
55/55 [==============================] - 0s 1ms/step - loss: 1.1899 - accuracy: 0.6500
Epoch 14/20
55/55 [==============================] - 0s 1ms/step - loss: 1.0766 - accuracy: 0.6722
Epoch 15/20
55/55 [==============================] - 0s 1ms/step - loss: 0.9892 - accuracy: 0.6938
Epoch 16/20
55/55 [==============================] - 0s 1ms/step - loss: 0.9157 - accuracy: 0.7216
Epoch 17/20
55/55 [==============================] - 0s 1ms/step - loss: 0.8563 - accuracy: 0.7295
Epoch 18/20
55/55 [==============================] - 0s 1ms/step - loss: 0.8078 - accuracy: 0.7398
Epoch 19/20
55/55 [==============================] - 0s 1ms/step - loss: 0.7629 - accuracy: 0.7517
Epoch 20/20
55/55 [==============================] - 0s 1ms/step - loss: 0.7269 - accuracy: 0.7619

In [21]:
model.evaluate(x_test,y_test)

14/14 [==============================] - 0s 2ms/step - loss: 0.7454 - accuracy: 0.7591

[0.7453927993774414, 0.7590909004211426]

# Predication System

In [22]:
#data=(90,42,43,20.87974371,82.00274423,6.502985292,202.9355362)  #rice
#data = (71,54,16,22.61359953,63.69070564,5.749914421,87.75953857)  #maize

data = list(map(str,input().split(',')))
input_data_as_array = np.asarray(data)

data_reshape= input_data_as_array.reshape(1,-1)

std_data = scaler.transform(data_reshape)
std_data

71,54,16,22.61359953,63.69070564,5.749914421,87.75953857

c:\python38\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([[0.50714286, 0.35      , 0.055     , 0.39563835, 0.57665018,
        0.34915147, 0.24267487]])

In [23]:
predication = model.predict(std_data)
predication

1/1 [==============================] - 0s 77ms/step

array([[4.4017453e-03, 5.5874929e-02, 1.0410855e-01, 5.3134738e-03,
        3.9950351e-07, 1.4722564e-04, 4.2530600e-02, 3.1494324e-03,
        1.0450580e-02, 4.2791307e-04, 5.7037204e-04, 6.1225700e-01,
        1.1716507e-03, 6.1212271e-03, 4.7405108e-04, 4.3757535e-03,
        1.0087504e-07, 1.4332391e-01, 3.8463066e-03, 1.7473651e-05,
        1.9416185e-04, 1.2431367e-03]], dtype=float32)

In [26]:
qmm = np.argmax(predication)
print(predication)
print(qmm)
index_number = qt.index(qmm)

[[4.4017453e-03 5.5874929e-02 1.0410855e-01 5.3134738e-03 3.9950351e-07
  1.4722564e-04 4.2530600e-02 3.1494324e-03 1.0450580e-02 4.2791307e-04
  5.7037204e-04 6.1225700e-01 1.1716507e-03 6.1212271e-03 4.7405108e-04
  4.3757535e-03 1.0087504e-07 1.4332391e-01 3.8463066e-03 1.7473651e-05
  1.9416185e-04 1.2431367e-03]]
11

In [29]:
print("The crop is",qtt[index_number])

The crop is rice

In [30]:
df_predication[0]   #for rice
df_predication[101]

'maize'

In [1]:
import sys
print("User Current Version:-", sys.version)

User Current Version:- 3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:48:03) [MSC v.1928 64 bit (AMD64)]

In [ ]:
def predictCrops(data):
    data = list(map(str,input().split(',')))
    input_data_as_array = np.asarray(data)
    data_reshape= input_data_as_array.reshape(1,-1)
    std_data = scaler.transform(data_reshape)
    predication = model.predict(std_data)
    qmm = np.argmax(predication)
    index_number = qt.index(qmm)
    return qtt[index_number]